* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #3b36cc;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 800px;
    background-color: #040153;
    border-radius: 10px;
    margin-top: 30px;
    padding:30px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.create-form {
    width: 100%;
    height: 50px;
    margin: 25px 0;
    display: flex;
    border: 2px solid #3b36cc;
}

.create-form > input {
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    border: none;
    background: none;
    color: white;
}

.create-form > button {
    width: 80px;
    height: 100%;
    border: none;
    background: #3b36cc;
    color: white;
    cursor: pointer;
}

.todo {
    background-color: #3b36cc;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.completed {
    opacity: 0.4;
    text-decoration: line-through 3px black;
}

